body {
  display: flex;
  background-color: lightgrey;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

#carousel {
  border: 3px solid #fff;
  justify-content: center;
  align-items: center;
  /*overflow: hidden;*/
  margin: 0 auto;
  width: 400px;
  height: 300px;
}
.slides {
  padding: 0;
  margin: 0;
  width: 2030px;
  display: block;
}
.slide {
  float: left;
  list-style: none;
  height: 300px;
}

img {
  width: 400px;
  height: 300px;
  float: left;
}